.card {
    border: 1px solid #b23232;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px); /* учитывается промежуток между карточками */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;

}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.card-content {
    flex-grow: 1;
}
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 15px;
}
.card p {
    font-size: 14px;
    line-height: 1.6;
    color: white;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: black;
}